.about {
  height: auto;
  padding: 0 0 2rem;

}

.about-box img {
  width: 100%;
}

.landing-about {
  padding: 0;
  height: 100vh;
}

.about .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-about .about-background-image {
  background-image: url(/img/about-main.jpg);
  height: 100%;
}

.about-buy .about-buy-image {
  background-image: url(/img/about1.jpg);
  height: 30vh;
}

.about-sell .about-sell-image {
  background-image: url(/img/about2.jpg);
  height: 30vh;
}

.about-contact .about-contact-image {
  background-image: url(/img/about3.jpg);
  height: 30vh;
}

.about .image-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(18, 18, 18, 0.7));
}

.landing-position {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: end;
}

.landing-about .text-box {
  padding: 8rem 1rem 3rem;
  display: grid;
  row-gap: 1rem;
  height: auto;
  background: linear-gradient(to bottom, transparent, rgba(18, 18, 18, 0.7), var(--first-bg-color), var(--first-bg-color));
}

.btn {
  width: 100%;
  height: 3rem;
  background-color: var(--main-color);
  border-radius: 0.25rem;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.image-fade {
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--first-bg-color));
}

.about-box {
  max-width: 500px;
  padding: 0 0 1rem 0;
  margin: 1rem;
  height: auto;
  display: grid;
  grid-template-rows: 30vh auto;
  row-gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: var(--second-bg-color);
  border: 3px var(--first-bg-color) solid;
  transition: 0.3s;
}

.about-box:hover {
  border-color: var(--third-bg-color);
}

.text-and-button {
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3rem;
}

.text-and-button .text {
  display: grid;
  row-gap: 1rem;
}

.about-box .image,
.about-box .image-layer {
  height: 30vh;
  border-radius: 0.9rem 0.9rem 0 0;
}

.about-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .landing-position {
    display: grid;
    grid-template-columns: 35%;
    place-content: center start;
    padding: 0 5%;
  }

  .landing-about .text-box {
    background: transparent;
    row-gap: 2rem;
    padding: 0;
  }

  .landing-about .text-box h1 {
    font-size: 3rem;
  }

  .landing-about .text-box p {
    font-size: 1.146rem;
  }

  .landing-about .about-background-image {
    background-image: url(/img/about-landing-big.jpg);
  }

  .about-container {
    height: 100vh;
    padding: 3rem 5% 0;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .about-box {
    height: 80vh;
  }
}