@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --black-bg-color: #000000;
    --first-bg-color: #121212;
    --second-bg-color: #011826;
    --third-bg-color: #024873;
    --main-color: #0396ff;
    --light-main-color: #6CC5D9;
    --text-color: #dfdfdf;
}

html {

    overflow-x: hidden;
    text-decoration: none;
    background-color: var(--first-bg-color);
    color: var(--text-color);
    font-family: "Orbitron", sans-serif;
}

body {
    margin: 0;
    color: var(--text-color);
}

span.main-color {
    color: var(--main-color);
}


section {
    min-height: 100vh;
    padding: 4rem 1rem 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
}


/* MENU */

menu {
    height: 50vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--first-bg-color), var(--first-bg-color), var(--first-bg-color), var(--first-bg-color), var(--first-bg-color), var(--first-bg-color), var(--first-bg-color), transparent);
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 15;
    transition: .3s ease-in-out;
    padding: 2rem 0 0 0;
}

menu ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;

}

menu ul {
    list-style: none;
    padding: 0;
}

menu ul li {
    text-align: center;
    padding: 1rem;
}

.show {
    top: calc(2rem - 2vh);
}

.fade-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
    transition: .3 ease-in-out;
}

.visible {
    display: block;
}


/* NAV */

nav {
    position: fixed;
    z-index: 20;
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--first-bg-color);
    padding: 0 1rem;
}

nav .empty {
    display: none;
    width: 3rem;
}

nav .heading {
    display: grid;
    place-items: center;
    margin-left: 1rem;
}

nav .heading a {
    font-size: 1.618rem;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

nav .menu-button {
    display: none;
}

nav .links {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}




@media screen and (max-width: 500px) {

    nav .empty {
        display: block;
    }

    nav .links {
        display: none;
    }

    nav .menu-button {
        display: flex;
        align-items: center;
        margin: 0 1rem;
    }

    nav .menu-button i {
        font-size: 2rem;
    }

    nav .menu-button .bx-x {
        display: none;
    }

    nav .menu-button .bx-menu {
        display: block;
    }

    nav .links {
        list-style: none;
    }

}