/* LANDING */

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to bottom, var(--first-bg-color), var(--black-bg-color));
}

.landing .left-box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landing .left-box .text-box {
    text-align: center;
    margin-bottom: 2rem;
}

.landing .left-box .search-bar {
    display: flex;
    justify-content: center;
}

.landing h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.landing h2 {
    margin-top: 0;
    font-size: 1.236rem;
    letter-spacing: 0.225rem;
    font-weight: 300;
}

.landing input {
    background-color: var(--text-color);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Comfortaa", sans-serif;
    border-radius: 1rem;
    margin-right: 0.5rem;
    width: 65vw;
}

.landing button {
    background-color: var(--third-bg-color);
    color: var(--text-color);

    border-radius: 50%;

    padding: 0.5rem;
    border: none;
    width: 2.2rem;
    transition: border-radius transform 0.15s ease;
}

.landing button:hover {
    cursor: pointer;
    border-radius: 30%;

}

.landing button:active {
    transform: scale(0.95);
}

.landing button i {
    font-size: 1rem;
}

.landing .image-box {
    display: grid;
    place-items: center;
}

.landing .image-box img {
    height: 60vw;
}

.gradient-transition {
    height: 10vh;
    width: 100%;
    background: linear-gradient(to bottom, var(--black-bg-color), var(--first-bg-color));
}

@media screen and (min-width: 650px) {
    .landing .image-box img {
        height: 30vh;
    }

    .landing {
        display: grid;
        grid-template-columns: 60% 40%;
        place-items: center;
    }

    .landing h1 {
        font-size: 2rem;
    }

    .landing h2 {
        font-size: 1.236rem;
    }

    .landing .text-box {
        text-align: left;
    }

    .landing .search-bar input {
        width: 35vw;
    }
}

@media screen and (min-width: 880px) {

    .landing .image-box img {
        height: 40vh;
    }

    .landing h1 {
        font-size: 3rem;
    }

    .landing h2 {
        font-size: 1.854rem;
    }

    .landing .left-box .text-box {
        margin-bottom: 3rem;
    }
}