@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
    /* font-family: 'Montserrat Alternates', sans-serif; */
}

:root {
    --first-bg-color: #0D0D0D;
    --second-bg-color: #142B40;
    --third-bg-color: #142B40;
    --main-color: #5666BF;

    --light-main-color: #A7B2F2;
    --text-color: #dfdfdf;
}

html {
    overflow-x: hidden;
    text-decoration: none;
    background-color: var(--first-bg-color);
    color: var(--text-color);
    font-family: "Orbitron", sans-serif;
}

body {
    color: var(--text-color);
}

span.main-color {
    color: var(--main-color);
}

.serif-font {
    font-family: 'Playfair Display', serif;
}

section {
    min-height: 100vh;
    padding: 7rem 2rem 3rem;
}
img {
    height: 40vh;
}

.landing {
    display: flex;
}
